<html>
    
    <head>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>   
 <script>
    function foo()
    { var a = document.getElementById("mname").style.color;
    var b = document.getElementById("memail").style.color;
    var c = document.getElementById("spec").style.color;
    var d = document.getElementById("num").style.color;
    var e = document.getElementById("low").style.color;
    var f = document.getElementById("upp").style.color;
    var g = document.getElementById("len").style.color;
    var h = document.getElementById("message").style.color;
    var i = document.getElementById("mabout").style.color;
    
    if(a=='green' && b=='green' && c=='green' && d=='green' && e=='green' && f=='green' && g=='green' && h=='green' && i=='green') 
    return true; 
    alert("Enter correct information");
    return false;
    }   
 </script>

</head>

<body>  
  <form id= "formadd" method = "post" onsubmit="return check();"> 
    <fieldset>
    <div class="control-group">
      <!-- Username -->
   
    <label class="control-label"  for="un">Username</label>
    <div class="controls">
      <input type="text" id="un" name="un" placeholder="" class="input-xlarge">
      <button>Check</button>
      <p class="help-block">Check username if it is available</p>
    </div>
  </div>
</fieldset>
</form>  
  <script>
    function check() {
                            var data = {};
                            data.usern = document.getElementById("un").value;
                            $.ajax({
                                url: "/user/check",
                                method: "POST",
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function(response) {
                                    alert(response);
                                } 
                    
                            });
                            document.getElementById("formadd").reset();
                            return false;
                        }
  </script>
    <form id = "dataform" method = "post" onsubmit="return foo()" class="form-horizontal" action="/user/clicked"  > <!-- enctype="multipart/form-data" -->
  <fieldset>
    <div id="legend">
      <legend class="">Register</legend>
    </div>
    <div class="control-group">
      <!-- Name -->
        <label class="control-label"  for="name">Name</label>
        <div class="controls">
          <input type="text" id="Name" name="name" placeholder="" class="input-xlarge">
          <span id="mname"></span>
        </div>
      </div>

      <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
          <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
          <span id="memail"></span>
          <p class="help-block">Please provide your E-mail</p>
        </div>
      </div>
      
      <div class="control-group">
        <!-- Username -->
     
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>
  
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
          <p id ="spec">Atleast 1 special character</p>
          <p id="num">Atleast one number</p> 
          <p id="low">Atleast 1 lowercase</p>
          <p id="upp">Atleast 1 uppercase</p> 
          <p id="len">More than 8 characters</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="confirm_password">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="confirm_password" name="password_confirm" placeholder="" class="input-xlarge">
        <span id='message'></span>
        <p class="help-block">Please confirm password</p> 
        
      </div>
    </div>
   
    <div class="control-group">
      <!-- About -->
        <label class="control-label"  for="about">About Me</label>
        <div class="controls"></div>
          <textarea id="about" name="About" placeholder="" class="input-xlarge"></textarea>
          <span id="mabout"></span>
        </div>
      </div>


    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button  type="submit" class="btn btn-success">Register</button>
      
        </div>
    </div>  

    


  </fieldset>
</form>
<script type="text/javascript">
   
     $('#password, #confirm_password').on('keyup', function () {
  if ($('#password').val() == $('#confirm_password').val()) {
    $('#message').html('Matching').css('color', 'green');
  } else 
    $('#message').html('Not Matching').css('color', 'red');
   });
     
   $('#Name').on('keyup',function(){
      if($('#Name').val().length<3 || $('#Name').val().length>50)
        $('#mname').html("Name must be 3-50 characters long").css('color','red');
       else $('#mname').html("&#10004;").css('color','green'); 
       $('#Name').css('textTransform', 'capitalize');
      }); 
    
      $('#email').on('keyup',function(){
      var regex  =  /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      var email = String($('#email').val());   
      if(regex.test(email)== false)
          $('#memail').html(email + " is invalid" ).css('color','red');
          else 
           $('#memail').html("&#10004;").css('color','green');
     });
      $('#password').on('keyup',function(){
          var num = /[0-9]/g;
          var low = /[a-z]/g;
          var upp = /[A-Z]/g;
          var spec = /[@_!#$%^&*()<>?/\|}{~:]/g;
          
            var pass = $('#password').val(); 
          
            if(num.test(pass)==false)
          $('#num').css('color','red');
          else 
          $('#num').css('color','green');
          
          if(upp.test(pass)==false)
          $('#upp').css('color','red');
          else 
          $('#upp').css('color','green');
           
          if(low.test(pass)==false)
          $('#low').css('color','red');
          else 
          $('#low').css('color','green');

          if(spec.test(pass)==false)
          $('#spec').css('color','red');
          else 
          $('#spec').css('color','green');

          if(pass.length<9)
          $('#len').css('color','red');
          else 
          $('#len').css('color','green');
        });  

        $('#about').on('keyup',function(){
      if($('#about').val().length>100 )
        $('#mabout').html("About me must be atmost 100 characters long").css('color','red');
       else $('#mabout').html("&#10004;").css('color','green'); 
      }); 

      $(document).ready(function() {
  $(window).keydown(function(event){
      if(event.target.tagName != 'TEXTAREA') {
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      }
  });
});

      </script>   
   
</body> 
</html>
