<!DOCTYPE html>
<html>
<head>
    
</head>
<body>

	<br>
	<br>
	
			<br>
			<br>
			<!-- Form starts here -->
			<form action="/uploaded" enctype="multipart/form-data" method="post">	
				<!-- Field to choose the files to be uploaded -->
				<label class="up_styles">
					<input type="file" name="upload" multiple />
				</label>
				<br>
				<!-- Button to upload the choosed files -->
				<input class="sub" type="submit" value="Upload">
			</form>
			<br>
			<br>
		
</body>
</html>		